

label{
  font-weight: normal !important;
}

body{
  //background-image: url("http://d1u9biwaxjngwg.cloudfront.net/covers/v1.3.0-cover.jpg");
}
/************************************************************
              Custom CSS
              Justin Yang @ 2015 / 12 /20
************************************************************/


.header-title{
  padding-bottom: 10px;
  padding-top : 25px;
  font-size : 22px !important;
  font-family:Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: rgba(50,50,50,1);
  margin-bottom: 10px;
}

.whiteHighlight{
  //font-weight: bold;
  color : white;
  text-shadow: #333 0px 0px 3px;
}

.gitbuh-submit-button{
  background-image: linear-gradient(#8ADD6D, #60B044);
  background-color: #60B044;
  border-bottom-color : #5CA941;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #5CA941;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #5CA941;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #5CA941;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  position: relative;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.15) 0px -1px 0px;
  vertical-align: middle;
  white-space: nowrap;
  width: 305px;
  word-wrap: break-word;
}

.display-box{

  margin-top:50px;
  text-align: center;
}
.text-block{
  background-color: white;
  width: 340px;
  display: table;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  margin:0px auto;
  margin-top:10px;
  padding: 1.3em;
  border : 1px solid #DDD;
  border-radius: 5px;
  //box-shadow: #777 0px 0px 5px ;
}

.shadowbox{
  box-shadow: #777 0px 0px 5px ;
}

.feedback{
  display: none;
  margin-top:10px;
  color : #CC0000;
  font-weight: bold;
}
